/* some custome variables to make life easy */
:root {
  --color-l1: #fefefe;
  --color-l2: #ddd;
  --color-d1: #333;
  --color-d2: #666;
  --color-a1: #fae1ff;
  --color-a2: #e4ccec;
  --color-a3: #6791cf;
  --color-a4: #85a6dd;
  --color-a5: #cac4e6;
  --color-a6: #de94f2;
  --color-h1: #0c9af2;
  --color-h2: #0fb2f2;
}

/* asigning colors to the basic elements */
a {
  color: var(--color-h1);
}
a:visited {
  color: var(--color-h2);
}

body {
  background-color: var(--color-d1);
  color: var(--color-l1);
}

section {
  padding: 2% 10%;
}

hr {
  color: var(--color-a1);
  background-color: var(--color-a1);
}

footer{
  background-color: var(--color-a2);
  color: var(--color-d1);
}

footer a {
  color: var(--color-d1);
}
footer a:visited {
  color: var(--color-d2);
}

.row{
margin: 0%;
}

@media screen and (max-width: 750px) {
  section {
    padding: 1% 1%;
  }
}
