.single-centered-paragraph{
    margin: 1% 30%;
    text-align: justify;
}

.about-me-paragraph-in-col{
    margin: 1% 20% 1% 5%;
    text-align: justify;
}

@media screen and (max-width: 750px) {
    .single-centered-paragraph {
        margin: 6% 5%;
    }
    .about-me-paragraph-in-col{
        margin: 6% 5%;
    }
  }